.display-none {
  display: none;
}

.mb-16 {
  margin-bottom: 16px;
}

button {
  border-radius: 10px;
  background-color: $secondary-color;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px rgba($secondary-color, 0.4)
  }
}